

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Job Hopper</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/users" method="post" >
            <div class="form-group">
              <input type="text"
              id="inputEmail" placeholder="Email" name="user[local][email]" class="form-control">
            </div>
            <div class="form-group">
              <input type="password"
              id="inputPassword" placeholder="Password"
              name="user[local][password]"class="form-control">
            </div>
            <button type="submit" class="btn btn-success" value="log in">Sign in</button>

          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <% if(message.length > 0) { %>
  
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Job Hopper</h1>
        <p>Want to know how we became the world’s leading headhunter firm?
        <br>
        We did it by focusing on you.</p>
        <p><a class="btn btn-primary btn-lg" href="/users/signup" role="button">Sign up for a free account today &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Fast Placement</h2>
          <h4>Reduced time to look for a job with our targeted approach.Gain access to over 10,000 jobs worldwide</h4>

        </div>
        <div class="col-md-4">
          <h2>Free Consultation</h2>
          <h4><ul>
            <li>One-to-one consultation</li>
            <li>Free makeover photo</li>
            <li>Training for interview</li>
            <li>How to ask for 30% pay increment</li>
          </ul> </h4>

       </div>
        <div class="col-md-4">
          <h2>Awards</h2>
          <h4><ul>
            <li>2016 Finalist - Best Recruitment Consultant</li>
            <li>Preferred Overall Recruitment Firm</li>
          </ul></h4>

        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Job Hopper Pte Ltd</p>
      </footer>
    </div> <!-- /container -->
