    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">

      <form class="form-signin" action="/users/profile" method="post">
        <h2 class="form-signin-heading">Sign up here</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" name="user[local][email]" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="user[local][password]" placeholder="Password" required>
        <br>
        <h2 class="form-signin-heading">Please provide your particulars</h2>

        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" class="form-control" name="user[local][name]" placeholder="Name" required>

        <label for="inputContact" class="sr-only">Contact Number</label>
        <input type="number" id="inputContact" class="form-control" name="user[local][contact]" placeholder="Contact Number" required>

        <label for="inputEducation" class="sr-only">Education Level</label>
        <input type="text" id="inputEducation" class="form-control" name="user[local][education]" placeholder="Education Level" required>

        <label for="inputExperience" class="sr-only">Total Work Experience</label>
        <input type="number" id="inputExperience" class="form-control" name="user[local][experience]" placeholder="Total Number of Years of Working Experience" required>

        </div>
        <br><br>

        <div class="col-sm-6 col-sm-offset-3">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </div>
      </form>

    </div> <!-- /container -->
